---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
import type { lazy } from 'astro:schema';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Мой потрясающий подзаголовок блога</h2>
	<Greeting
		client:load
		messages={['Привет', 'Здравствуйте', 'Приветствую', 'Эй там']}
	/>
</BaseLayout>
